@page
@model WebAppGestionStock.Views.Compra.CompraCreateRazorPageModel
@{
}

<h1>Ingresar Compra</h1>

<form method="post">
    <h6>Ingrese el ID del Producto de la Compra: </h6>
    <br>
    <br>
    <label asp-for="@Model.Compra.productoId"></label>
    <input asp-for="@Model.Compra.productoId" id="InputProductoId">
    <br>
    <h6>Ingrese la fecha de la Compra: </h6>
    <br>
    <br>
    <label asp-for="@Model.Compra.fecha"></label>
    <input asp-for="@Model.Compra.fecha" id="InputFecha">
    <br>
    <h6>Ingrese la cantidad de unidades del Producto comprado: </h6>
    <br>
    <br>
    <label asp-for="@Model.Compra.cantidad"></label>
    <input asp-for="@Model.Compra.cantidad" id="InputCantidad">
    <br>
    <br>
    <button type="submit">Agregar Compra</button>
</form>